/* fonts.css */
@font-face {
  font-family: 'Britannic Bold';
  src: local('Britannic Bold'), 
       local('Britannic-Bold'),
       url('fonts/britanicc.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: local('Futura'), 
       local('Futura-Medium'),
       url('fonts/futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-britannic {
  font-family: 'Britannic Bold', sans-serif;
}

.font-futura {
  font-family: 'Futura', sans-serif;
}